*{
    margin: 0px;
    padding: 0px;
}
.top,.footing{
    width: 100%;
    height: 120px;
    background-color: #000000;
}
.body,.article1_body,.article2_body{
    width: 100%;
    min-height: 2000px;
    background:url(img/wood2.jpg) fixed 0px 0px;
}
.top_container{
    height: 150px;
    margin: 0px auto;
    width: 90%;
}
.top_left{
    float: left;
    padding-top: 10px;
    width: 100%;
    color: #ff0900;
}
.blog_name{
    font-size: 25px;
    font-family: 微软雅黑;
}
.top_left1{
    float: left;
    width: 35%;
}
.top.left2{
    float: left;
    width: 65%;
}
.bgm_title{
    color: #ff003b;
    font-size: 20px;
}
.audio{
    width: 65%;
    margin-top: 20px;
}
.top_right{
    clear: left;
    width: 100%;
}
.index{
    padding-top: 30px;
    font-family: 微软雅黑;
    font-size: 25px;
    font-weight: 800;
    list-style-type: none;
}
.index_li{
    padding-right: 20px;
    display: inline;
}
.link{
    font-weight: 600;
}
a:link,a:visited{
    text-decoration: none;
    cursor: inherit;
    color: rgba(254, 255, 123, 0.51);
}
a:hover,a:active{
    cursor: hand;
    color: #fdff46;
}
.body_blank{
    height: 50px;
}
.body_container{
    margin:0px auto;
    width:90%;
}
.content_title1{
    clear: left;
    width: 100%;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #ff003b;

}
.article{
    margin: 0px auto;
    text-align: center;
    width: 80%px;
    height: 60%px;
}
.article_title{
    font-family: 微软雅黑;
    font-size: 25px;
    font-weight: 800;
    color: #ff003b;
}

.article_img{
    max-width: 500px;
    max-height: 300px;
}
a:link,a:visited{
    text-decoration: none;
    cursor: inherit;
    color: rgba(255, 14, 9, 0.51);
}
a:hover,a:active {
    cursor: hand;
    color: #ff0725;
}
.p1_article2{
    font-size: 25px;
    font-family: 微软雅黑;
    font-weight: 500;
    color: #00ff09;
}
.form_sort{
    font-size: 32px;
    font-family: 华文新魏;
    font-weight: 600;
    color: aqua;
}
[name="sort_mt"],[name="input_mt"]{
    width: 60px;
    height: 25px;
}
[name="submit"]{
    width: 80px;
    height: 54px;
    text-align: center;
    font-size: 30px;
}
.computer{
    width: 300px;
    height: 370px;
}
.key_num{
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    float: left;
    width: 80px;
    height: 54px;
}
#date_display{
    text-align: right;
    font-size: 30px;
    margin-bottom: 20px;
    width: 280px;
    height: 54px;
}
#inputted_date{
    width: 100%;
    min-height: 54px;
    line-height: 54px;
    font-size: 30px;
    background-color: azure;
}
#perform_status{
    width: 100%;
    min-height: 54px;
    line-height: 54px;
    font-size: 30px;
    background-color: azure;
}
#animation{
    width: 100%;
    height: 600px;
    background-color: rgba(255, 9, 0, 0.62);
}